.menu{
    display: inline-flex;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #dadada;
    /* z-index: 999990; */
    height: auto;
    align-items: center;
    padding: 10px;
}

.pages{
    display: inline-flex;
}

.logo{
    margin-right: 20px;
}

.bt-ativo,
.bt-acesso{
    margin: 0px 5px;
}

.sub-menu{
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.bt-ativo button,
.bt-acesso button{
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: auto;
    height: auto;
}

.icon{
    width: 10px;
    height: 10px;
}

.sub-menu button{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: 3px outset;
    background-color: transparent;
    cursor: pointer;
    background-color: #dadada;
    font-weight: bold;
}

.bt-ativo:hover .sub-menu{
    display: block;
}

button:hover{
    background-color: #b6b6b6;
    border: 3px outset;
}